h1{
  text-align: center;
  font-style: oblique;
}

.button-app{
  margin-left: 46%;
  margin-top: 1%;
  margin-bottom: 2%;
  height: 30px;
  background-color: lightgreen;
  border: 2px solid black;
  font-weight: bold;
}

.box{
  height: 200px;
  width: 400px;
  margin-left: 34%;
  margin-bottom: 2%;
  border-width: thick;
  border-style: outset;
}

h2{
  margin-top: 12%;
  margin-bottom: 6%;
  text-align: center;
  line-height: 30px;
}

input{
  margin-left: 86px;
   height: 30px;
   border-style: inset;
   font-size: 20px;
}
